@model Veterinaria.Web.Models.Pet

@{
    ViewBag.Title = "Details";
}


<div class="row col-md-12 justify-content-between">
    <div class="col-md-6 ">
        <div class="card mb-3">
            <div class="card-header py-2 bg-info">
                <h5 class="text-center m-0 text-white">@Model.Name</h5>
            </div>
            <div class="card-body">
                <table class="table table-sm">
                    <tr>
                        <td>Nombre: </td>
                        <td>@Model.Name</td>
                    </tr>
                    <tr>
                        <td>Tipo de Mascota :</td>
                        <td>@Model.PetType</td>
                    </tr>
                    <tr>
                        <td>Edad : </td>
                        <td>@Model.Age Meses</td>
                    </tr>
                    <tr>
                        <td>Fecha de Nacimiento </td>
                        <td>@Model.BirthDate.ToShortDateString()</td>
                    </tr>
                    <tr>
                        <td>Raza </td>
                        <td>@Model.Race</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="">
            <div class="card mb-3">
                <div class="card-header bg-info">
                    <h6>Fotografia</h6>
                </div>
                <div class="card-header">
                    @if (Model.ImgUrl == null)
                    {
                        <img src="~/Content/img/userunknown.jpg" class="img-thumbnail" width="550" />
                    }
                    else if (Model.ImgUrl != null)
                    {
                        <img src="~/Content/img/@Model.ImgUrl" />
                    }
                </div>
            </div>
        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
